body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
}

#posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.post {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;

    background-color: hwb(176 93% 0%);
    /* position: relative; */
    text-align: center;
    color: rgb(17, 17, 17);
    font-weight: bold;
    font-size: 15px;
    min-height: 30vh;
    min-width: min-content;
    
}

.post button {
    background-color: #333;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.post button:hover {
    background-color: #555;
}

.button {
    background-color: #d8d8d8;
    position: relative;
    text-align: center;
    color: rgb(17, 17, 17);
    font-weight: bold;
    font-size: 12px;
    min-height: 6vh;
}

.view {
    background-color: hwb(59 78% 0%);
    /* position: relative; */
    text-align: center;
    color: rgb(17, 17, 17);
    font-weight: bold;
    font-size: 15px;
    min-height: 50vh;
    min-width: min-content;
   
}


.row {
    /* max-width: 1500px; */
    background-color: #d8d8d8;
    position: relative;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    color: rgb(17, 17, 17);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    padding: 5px 2px;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
}


/* footer */

.footer {
    background-color: #d8d8d8;
    position: relative;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    text-align: center;
    color: rgb(17, 17, 17);
    font-weight: bold;
    font-size: 15px;
    min-height: 10vh;
   
}


/* footer */